@import '../themes/variable';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; // font phụ
    font-size: 18px;
}

.container{
    max-width: 1280px;
}

a{
    text-decoration: none;
}
li{
    list-style: none;
}
.text-title{
    color: $cl-text-black;
    font-weight: $f-weight-600;
}