footer {
    position: relative;
    top: 630px;
    left: 0;
    .container {
        padding: 70px 32px 0 32px;
        margin-left: 50px;
        margin-right: 50px;
        .row{
          .col-left{
            padding-top: 16px;
          }
          .col-right{
            padding-top: 16px;
            .social-media{
              li{
                margin-right: 25px;
                a{
                  background-color: $bg-white;
                  padding: 10px;
                  border-radius: 50%;
                  img{
                    width: 20px;
                    height: 20px;
                    opacity: 0.5;
                    line-height: 20px;
                  }
                  &:hover{
                    background-color: $bg-profile-border;
                    padding: 10px;
                    border-radius: 50%;
                    transition: all 0.3s;
                  }
                }
              }
            }
            .setting-buttons{
              li{
                margin-right: 25px;
                .inner{
                  opacity: 0.5;
                  img{
                    width: 20px;
                    height: 20px;
                    line-height: 20px;
                    margin-right: 8px;
                  }
                  span{
                    font-size: $text-16;
                  }
                  &:hover{
                      opacity: 1;
                      transition: all 0.3s;
                    }
                }
              }
            }
          }
          .col {
            .item{
              justify-content: space-between;
              h6{
                  color: $c2-text-black;
                  font-weight: $f-weight-700;
                  padding-bottom: 20px;
              }
              ul {
                  padding: 0;
                  li {
                    list-style: none;
                    padding-bottom: 16px;
                    transition: all 0.3s;
                    cursor: pointer;
                    a{
                      color: $c3-text-grey;
                      font-weight: $f-weight-400;
                      font-size: $text-16;
                      &:hover {
                        text-decoration: underline;
                      }
                    }
                  }
              }
              a{
                color: $c2-text-grey;
                span{
                  font-size: $text-26;
                  font-weight: $f-weight-700;
                }
                .svg-inline--fa{
                  font-size: x-small;
                }
              }
              p{
                display: inline-block;
                margin-left: 30px;
                font-size: $text-14;
                color: $cl-text-grey;
              }
              }
            }
        }
      }
  }

  // .copyright{
    // padding: 25px 40px;
    // text-align: center;
    // background-color: #D9D9D9;
  