// Text color
$cl-text:#62646a;
$cl-text-grey: #b5b6ba;
$cl-text-white: white;
$cl-text-black: black;
$cl-add-profile: #00698c;
$cl-star:#ffb33e;
$cl-cart:#1dbf73;
$cl-primary:#2280fa;


// Background
$bg-profile:#74767e;
$bg-prod-hover:#d3d3d386;
$bg-profile-border:#d1d1d1;
$bg-white-border:#d1d1d1;
$bg-button: #1dbf73;
$bg-button-hover: #19a463;
$bg-white: #fff;
$bg-ligthgray: #fafafa;

// Font size
$text-8: 8px;
$text-12: 12px;
$text-13: 13px;
$text-14: 14px;
$text-16: 16px;
$text-18: 18px;
$text-20: 20px;
$text-22: 22px;
$text-24: 24px;
$text-26: 26px;
$text-30: 30px;
$text-40: 40px;

// Font
//-------- Font Weight
$f-weight-100:100;
$f-weight-300:300;
$f-weight-400:400;
$f-weight-500:500;
$f-weight-600:600;
$f-weight-700:700;
$f-weight-900:900;